In [1]:
import pandas as pd
import numpy as np

from eda_utilities import print_eda_stats

### Read the Dockless Mobility data and run basic null data analysis. 
##### Dockless mobility data is located on the s3 bucket at https://s3.amazonaws.com/sameera-bucket-1/dockless_mobility/raw_data/Austin_Dockless_Vehicle_Trips.csv
##### Weather data is located on the s3 bucket at https://s3.amazonaws.com/sameera-bucket-1/dockless_mobility/raw_data/Austin_Bergstom_Airport_Weather.csv

In [2]:
df = pd.read_csv("https://s3.amazonaws.com/sameera-bucket-1/dockless_mobility/raw_data/Austin_Dockless_Vehicle_Trips.csv")

/anaconda3/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2785: DtypeWarning: Columns (13) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [4]:
dockless_vehicles_columns = df.columns

Index(['ID', 'Device ID', 'Vehicle Type', 'Trip Duration', 'Trip Distance',
       'Start Time', 'End Time', 'Modified Date', 'Month', 'Hour',
       'Day of Week', 'Council District (Start)', 'Council District (End)',
       'Origin Cell ID', 'Destination Cell ID', 'Year', 'Start Latitude',
       'Start Longitude', 'End Latitude', 'End Longitude'],
      dtype='object')

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2746505 entries, 0 to 2746504
Data columns (total 20 columns):
ID                          object
Device ID                   object
Vehicle Type                object
Trip Duration               float64
Trip Distance               float64
Start Time                  object
End Time                    object
Modified Date               object
Month                       float64
Hour                        float64
Day of Week                 float64
Council District (Start)    float64
Council District (End)      float64
Origin Cell ID              object
Destination Cell ID         object
Year                        float64
Start Latitude              float64
Start Longitude             float64
End Latitude                float64
End Longitude               float64
dtypes: float64(12), object(8)
memory usage: 419.1+ MB

In [8]:
print_eda_stats(df, dockless_vehicles_columns)

+--------------------------+---------+-------------+---------------+--------------+
|       Column Name        |  dtype  | Total_Count | Unique_Values | df_totalrows |
+--------------------------+---------+-------------+---------------+--------------+
|            ID            |  object |   2746505   |    2746505    |   2746505    |
|        Device ID         |  object |   2746505   |     26999     |   2746505    |
|       Vehicle Type       |  object |   2746504   |       3       |   2746505    |
|      Trip Duration       | float64 |   2746504   |     10521     |   2746505    |
|      Trip Distance       | float64 |   2746504   |     16125     |   2746505    |
|        Start Time        |  object |   2746504   |     25694     |   2746505    |
|         End Time         |  object |   2746504   |     25768     |   2746505    |
|      Modified Date       |  object |   2746505   |     27881     |   2746505    |
|          Month           | float64 |   2746504   |       12      |   2746505    |
|           Hour           | float64 |   2746504   |       25      |   2746505    |
|       Day of Week        | float64 |   2746504   |       8       |   2746505    |
| Council District (Start) | float64 |   2746474   |       12      |   2746505    |
|  Council District (End)  | float64 |   2746474   |       12      |   2746505    |
|      Origin Cell ID      |  object |   2744417   |      7262     |   2746505    |
|   Destination Cell ID    |  object |   2744417   |      5185     |   2746505    |
|           Year           | float64 |   2746504   |       3       |   2746505    |
|      Start Latitude      | float64 |   2713821   |      442      |   2746505    |
|     Start Longitude      | float64 |   2713821   |      386      |   2746505    |
|       End Latitude       | float64 |   2724693   |      637      |   2746505    |
|      End Longitude       | float64 |   2724693   |      593      |   2746505    |
+--------------------------+---------+-------------+---------------+--------------+

In [9]:
#WITH FOUR DECIMAL PLACES (DEFAULT)
df.describe().transpose().to_csv('summary_stats.csv', sep=',')

np.round(df.describe(), 2).T

                              count      mean          std          min      25%      50%      75%           max
Trip Duration             2746504.0    671.94      7441.55    -86161.00   221.00   388.00   753.00  1.149160e+07
Trip Distance             2746504.0  58032.67  10421635.18 -16724106.00   343.00   887.00  1738.00  2.147484e+09
Month                     2746504.0      8.23         3.50         1.00     7.00     9.00    11.00  1.200000e+01
Hour                      2746504.0     14.44         4.38         0.00    12.00    15.00    18.00  2.300000e+01
Day of Week               2746504.0      3.17         2.06         0.00     1.00     3.00     5.00  6.000000e+00
Council District (Start)  2746474.0      7.73         2.65         0.00     9.00     9.00     9.00  1.000000e+01
Council District (End)    2746474.0      7.68         2.67         0.00     9.00     9.00     9.00  1.000000e+01
Year                      2746504.0   2018.16         0.37      2018.00  2018.00  2018.00  2018.00  2.019000e+03
Start Latitude            2713821.0     30.19         1.60         0.00    30.26    30.27    30.28  8.229000e+01
Start Longitude           2713821.0    -97.45         5.45      -122.68   -97.75   -97.74   -97.74  1.141300e+02
End Latitude              2724693.0     30.19         1.61       -43.52    30.26    30.27    30.28  5.224000e+01
End Longitude             2724693.0    -97.45         5.50      -122.68   -97.75   -97.74   -97.74  1.750300e+02